<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twentiecker.storyapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryApp"
        tools:targetApi="31">
        <activity
            android:name=".authentication.login.SsoActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".BusActivity"
            android:exported="false"
            android:label="@string/title_activity_bus" />
        <activity
            android:name=".scanner.PeduliDetailActivity"
            android:exported="false" />
        <activity
            android:name=".scanner.PeduliActivity"
            android:exported="false"
            android:label="@string/peduli" />
        <activity
            android:name=".scanner.ScanActivity"
            android:exported="false"
            android:label="@string/qr_code" />
        <activity
            android:name=".liststory.ListStoryActivity"
            android:exported="false"
            android:label="@string/review" />
        <activity
            android:name=".bike.BikeDetailActivity"
            android:exported="false"
            android:label="@string/bikes_name" />
        <activity
            android:name=".bike.BikeActivity"
            android:exported="false"
            android:label="@string/bikes_name" />

        <receiver
            android:name=".maps.direction.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".maps.direction.DirectionActivity"
            android:exported="false"
            android:label="@string/title_activity_direction" />
        <activity
            android:name=".maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <receiver
            android:name=".widget.StoryAppWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/story_app_widget_info" />
        </receiver>

        <activity
            android:name=".liststory.StoryActivity"
            android:exported="false" />
        <activity
            android:name=".welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".addstory.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".addstory.AddStoryActivity"
            android:exported="false"
            android:label="@string/add_review" />
        <activity
            android:name=".authentication.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.twentiecker.storyapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>